<!doctype html>
<html lang="en">

<head>
	<title>事件管理-处理</title>
	<meta charset="UTF-8">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<!-- 第三方 CSS -->
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="${ctxPath}/assets/vendor/layer/skin/default/layer.css">

	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/media.css" />
	<link rel="stylesheet" type="text/css"
	href="${ctxPath}/assets/vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" />
</head>

<body>
	<div class="container-fluid">
		<form id="addForm" class="form-horizontal">
			<br>
			<div class="form-group">
				<label class="col-sm-2 control-label">处理结果</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="result" name="result" rows="5"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">处理时间</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="doneTime" name="doneTime" placeholder="处理时间">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">是否公开</label>
				<div class="col-sm-2">
					<select id="is_open" name="is_open" class="form-control">
						<option value="0">否</option>
						<option value="1">是</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" id="saveBtn">提交</button>
					<button type="button" class="btn btn-default" id="cancleBtn">取 消</button>
				</div>
			</div>
			<input type="hidden" id="id" name="id" value="${event.id ! ''}" />
		</form>
	</div>
	<input type="hidden" id="basePath" value="${ctxPath}" />
	
	<script src="${ctxPath}/assets/vendor/jquery/jquery.min.js"></script>
	<script src="${ctxPath}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="${ctxPath}/assets/vendor/holder.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="${ctxPath}/assets/vendor/layer/layer.js"></script>
	<!-- 日期控件JS -->
	<script type="text/javascript"
		src="${ctxPath}/assets/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript"
		src="${ctxPath}/assets/vendor/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="${ctxPath}/assets/vendor/bootstrapValidator/bootstrapValidator.min.js"></script>
	<script src="${ctxPath}/assets/scripts/shgl/sjgl/deal.js"></script>
	<script src="${ctxPath}/assets/scripts/public.js"></script>
</body>
</html>
