<!DOCTYPE html>
<html class="main">
<head>
	<title>部门管理-首页</title>
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/normalize.css"/>
	<link rel="stylesheet" href="${ctxPath}/assets/vendor/layer/skin/default/layer.css">
	<link rel="stylesheet" href="${ctxPath}/assets/vendor/zTree_v3/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/main.css" />
	<style>
	.ztree {
	    margin: 0;
	    padding: 10px;
	    color: #333;
	}
	</style>
</head>

<body>
	<div class="row warpper">
		<div class="col-2 warpper" style="padding-right: 0">
			<!-- ZTree -->
				<div class="cardbox-body warpper" >
					<a class="" href="javascript:void(0);" id="editDept"><i class="fa fa-cogs"></i> 部门结构调整</a>
					<iframe id="treeFrame" name="treeFrame" src="${ctxPath}/pub/deptTree/showDeptTree.do" style="width:100%; height:100%; overflow:auto;" frameBorder=0></iframe>
				</div>
			<!-- END ZTree -->
		</div>
		<div class="col-10 warpper">
				<div class="function-box">
					<div class="query-criteria">
					<form class="form-inline" action="" method="post">
							<!-- 被选中的部门 -->
						    <input type="hidden" id="deptId" value="${deptId ! ''}">
						    <input type="text" id="deptName" class="form-control" placeholder="部门名称">
							<button type="button" class="btn btn-primary" onclick="initData(1)"><i class="fa fa-search"></i> 查询</button>
					</form>
					</div>
				</div>
				<div class="function-btn">
					<button type="button" class="btn btn-light" href="javascript:void(0);" onClick="dels()"><i class="fa fa-trash"></i> 删除</button>
				</div>
				<div id="dept" class="warpper">
					@#ajax dept:{
				<div  class="table-box">
						<table class="table table-bordered table-striped" cellspacing="" cellpadding="">
						<thead>
							<tr class="table-secondary">
								<th width="5%" class="text-center">
									<input type="checkbox" class="i-checks" id="checkAll" onclick="selectAll(this)"/>
						        </th>
						        <th width="45%">部门名称</th>
						        <th width="50%">上级部门</th>
							</tr>
							</thead>
							<tbody>
							@for(dept in pagenate.list ! []){
					    	<tr>
						        <td class="text-center">
						        	<input type="checkbox" name="icheck" value="${dept.deptId}" />
						        </td>
					    		<td>${dept.deptName ! ''}</td>
					    		@if(dept.parentId=="" || dept.parentId==null){
					    		<td>博昌街道</td>
					    		@}else{
					    		<td>${dept.parentName ! ''}</td>
					    		@}
					    	</tr>
					    	@}elsefor{
					    	<tr>
						        <td colspan="3" class="text-center">
						        	没有找到要查询的数据
						        </td>
					    	</tr>
					    	@}
					    	</tbody>
						</table>
						</div>
					<!-- 自定义分页标签 -->
					<#pagenate func="initData" page="${pagenate}" />
					@}
				</div>
		  </div>
		</div>
	<input type="hidden" id="basePath" value="${ctxPath}" />
	<input type="hidden" id="pageNumber" value="1" />
	
	<script src="${ctxPath}/assets/vendor/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="${ctxPath}/assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="${ctxPath}/assets/vendor/holder.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="${ctxPath}/assets/vendor/layer/layer.js"></script>
	<script src="${ctxPath}/assets/vendor/zTree_v3/js/jquery.ztree.all-3.5.min.js"></script>
	<script type="text/javascript" src="${ctxPath}/assets/scripts/public.js"></script>
	<script type="text/javascript" src="${ctxPath}/assets/scripts/xtgl/dept/index.js"></script>
</body>
</html>
