.BMapLib_Drawing_panel
{
    height: 47px;
    border: 1px solid #666;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    float: left;
    z-index: 20000;
    position: absolute;
    top: 0.5em;
    right: 1em; 
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
     
}
.BMapLib_box
{
    border-right: 1px solid #d2d2d2;
    float: left;
    height: 100%;
    width: 64px;
    height: 100%;
    background-image:url(img/bg_drawing_tool.png);
    cursor: pointer;
}
.BMapLib_last
{
    border-right: 0;
}
.BMapLib_hander
{
    background-position: -390px 0;
}
.BMapLib_hander_hover
{
    cursor: pointer;
    background-position: -390px -52px;
}
.BMapLib_marker
{
    background-position: -65px 0;
}
.BMapLib_marker_hover
{
    cursor: crosshair;
    background-position: -65px -52px;
}
.BMapLib_circle
{
    background-position: -130px 0;
}
.BMapLib_circle_hover
{
    cursor:crosshair;
    background-position: -130px -52px;
}
.BMapLib_polyline
{
    background-position: -195px 0;
}
.BMapLib_polyline_hover
{
    cursor: crosshair;
    background-position: -195px -52px;
}
.BMapLib_polygon
{
    background-position: -260px 0;
}
.BMapLib_polygon_hover
{
    cursor: crosshair;
    background-position: -260px -52px;
}
.BMapLib_rectangle
{
   
    background-position: -325px 0;
}
.BMapLib_rectangle_hover
{
     cursor: crosshair;
    background-position: -325px -52px;
}

.BMapLib_select
{ 
   background-position: 0 0;
}
.BMapLib_select_hover
{
     cursor: pointer;
    background-position: 0 -52px;
}
