body {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    overflow: hidden;
}

#mapDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bottomDiv {
    position: absolute;
    bottom: 10px;
    background-color: #436FC8;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 50%;
    margin-left: -150px;
    color: white;
    z-index: 5000;
}

    #bottomDiv label {
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
    }

        #bottomDiv label input {
            margin: 0 4px;
        }

.leftcontioner {
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #25ABF3;
    z-index: 30000;
}

    .leftcontioner .btntoggle {
        width: 17px;
        height: 66px;
        background: url(/Images/map/show_hidden.png) no-repeat left center;
        position: absolute;
        right: -17px;
        top: 45%;
        cursor: pointer;
    }

        .leftcontioner .btntoggle.active {
            background: url(/Images/map/show_hidden.png) no-repeat -17px center;
        }

    .leftcontioner .tab-search {
        width: 100%;
        height: 40px;
        background-color: #E4E4E4;
    }

        .leftcontioner .tab-search li {
            list-style: none;
            width: 50%;
            height: 40px;
            line-height: 40px;
            float: left;
            background-color: transparent;
            text-align: center;
            cursor: pointer;
            color: #444;
        }

            .leftcontioner .tab-search li.selected {
                background-color: #fff;
                color: #188BFF;
            }

            .leftcontioner .tab-search li i {
                width: 24px;
                height: 24px;
                font-size: 18px;
            }

            .leftcontioner .tab-search li span {
                font-size: 15px;
                font-weight: 600;
                font-family: 黑体;
                letter-spacing: 0.3em;
            }

            .leftcontioner .tab-search li img{
                width:20px;
                height:20px;
                vertical-align:middle;
            }

    .leftcontioner .tab-content {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        overflow: hidden;
        position: absolute;
    }

        .leftcontioner .tab-content .tab-show {
            width: 100%;
            height: 100%;
            display: none;
        }

.tab-searchbar {
    width: 100%;
    float: left;
    padding: 15px 15px 10px 15px;
}

    .tab-searchbar .searchkey {
        width: 180px;
        height: 26px;
        line-height: 28px;
        float: left;
        margin-top: 8px;
        border: 1px solid #d9d9d9;
        border-right: 0;
        padding: 0 10px;
        outline: none;
        font-size: 13px;
    }

    .tab-searchbar .searchbtn {
        float: left;
        margin-top: 8px;
        margin-left: -1px;
        width: 45px;
        height: 35px;
        cursor: pointer;
        border: 0;
        background: url(/Images/map/combg.png) no-repeat -225px -89px;
        outline: none;
    }

    .tab-searchbar .date-input {
        height: 26px !important;
        width: 113px;
    }

        .tab-searchbar .date-input i {
            top: 6px;
        }

    .tab-searchbar .rule-date-input {
        border: 1px solid #d9d9d9;
        height: 26px;
        width: 115px;
        min-height: 26px;
        display: inline-block;
        float: left;
    }

.feil {
    width: 100%;
    float: left;
}

.s-list {
    width: 100%;
    float: left;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

    .s-list li {
        float: left;
        height: 32px;
        text-align: center;
        font-size: 13px;
        letter-spacing: 0.3px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 7px 8.5px;
        color: #fff;
        background-color: #188BFF;
        cursor: pointer;
    }

        .s-list li.active {
            border: 2px solid #188BFF;
            color: #188BFF;
            background-color: #fff;
            padding: 5px 8.5px;
        }

.btnlist {
    width: 100%;
    float: left;
    padding: 20px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

    .btnlist li {
        width: 50px;
        height: 70px;
        margin: 3px 7px;
        float: left;
        overflow: hidden;
        background-color: transparent;
    }

        .btnlist li a {
            color: #808080;
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }

            .btnlist li a:hover {
                color: #188BFF;
                font-weight: 600;
            }

        .btnlist li i {
            line-height: 36px;
            font-size: 34px;
            display: block;
            margin-bottom: 4px;
            font-weight: 500;
            -webkit-transition: font-size 0.25s ease-out 0s;
            -moz-transition: font-size 0.25s ease-out 0s;
            -o-transition: font-size 0.25s ease-out 0s;
            transition: font-size 0.25s ease-out 0s;
            vertical-align: bottom;
        }

        .btnlist li p {
            line-height: 20px;
            display: block;
            text-align: center;
        }

.leftlist {
    display: none;
    width: 100%;
    height: 100%;
    float: left;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .leftlist .l-tit {
        width: 265px;
        height: 70px;
    }

        .leftlist .l-tit .l-tit-top {
            border-bottom: 1px solid #ccc;
            height: 40px;
        }

            .leftlist .l-tit .l-tit-top span {
                display: inline-block;
                float: left;
                font-size: 15px;
                color: #188BFF;
                margin-left: 5px;
                line-height: 30px;
            }

            .leftlist .l-tit .l-tit-top a {
                display: inline-block;
                float: right;
                font-size: 12px;
                background-color: #B2B2B2;
                margin-right: 5px;
                padding: 0 20px;
                line-height: 26px;
                cursor: pointer;
                text-decoration: none;
                color: #fff;
            }

        .leftlist .l-tit .l-tit-count {
            height: 40px;
            padding-left: 10px;
            font-size: 12px;
            color: #ff0000;
            line-height: 26px;
            letter-spacing: 0.3px;
        }

    .leftlist .l-con {
        width: 245px;
        padding: 5px 0;
        overflow: auto;
    }

        .leftlist .l-con ul {
            width: 100%;
            float: left;
            background-color: transparent;
        }

            .leftlist .l-con ul li {
                width: 100%;
                float: left;
                line-height: 25px;
                background-color: transparent;
                border-bottom: 1px solid #d2e7f8;
            }

                .leftlist .l-con ul li a {
                    font-size: 13px;
                    color: #000;
                    cursor: pointer;
                    outline: none;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    line-height: 20px;
                    text-align: left;
                    padding: 4px 0;
                }

                    .leftlist .l-con ul li a:hover {
                        color: #436FC8;
                        background-color: #ececec;
                    }

                    .leftlist .l-con ul li a span {
                        display: block;
                        float: left;
                        width: 24px;
                        height: 24px;
                        line-height: 17px;
                        background: url(/Images/map/marker.png) no-repeat top center;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;
                        margin: 0 2px;
                    }

                    .leftlist .l-con ul li a:hover span {
                        background: url(/Images/map/marker-hover.png) no-repeat center center;
                    }

                    .leftlist .l-con ul li a h5 {
                        display: block;
                        line-height: 17px;
                        text-align: left;
                        color: #436FC8;
                        font-size: 13px;
                        margin: 0 0 5px 0;
                        font-weight:500;
                    }

                    .leftlist .l-con ul li a p {
                        display: block;
                        line-height: 17px;
                        text-align: left;
                        color: #000;
                        font-size: 12px;
                        margin: 0 0 0 35px;
                    }

    .leftlist .l-bottom {
        width: 265px;
        height: 40px;
        padding-top: 5px;
    }

.departtree-box {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: left;
    overflow: auto;
    padding: 15px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
