body {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	overflow: hidden;
}

.mapdiv {
	position: absolute;
	width: 100%;
	height: 100%;
}

.maptool {
	width: 255px;
	height: 34px;
	position: absolute;
	left: 10px;
	top: 230px;
	border: 1px solid #518AD8;
	border-radius: 5px;
	padding: 3px 4px;
	background: url(/Images/top/tool-bg.png) repeat-x;
	z-index: 1002;
}

.maptool .rule-single-select select {
	display: none;
}

.maptool .single-select {
	float: left;
	margin: 0 4px 0 0;
}

.maptool .single-select .select-tit {
	padding: 2px 38px 2px 6px;
	border: 1px solid #fff;
	background-color: transparent;
	width: 174px;
}

.maptool .single-select .select-tit i {
	border-left: 1px solid #fff;
	background: url(/Images/skin_icons.png) 7px -190px no-repeat transparent;
}

.maptool .single-select .select-tit span {
	color: #fff;
}

.maptool .single-select .select-items ul {
	/*border: 1px solid #518AD8;*/
	
}

.maptool .tmtool {
	display: block;
	float: left;
	margin: 3px 0 0 5px;
	cursor: pointer;
}

.maptool .tmtool i {
	font-size: 20px;
	color: #fff;
}

.mapcontrol {
	height: 34px;
	position: absolute;
	left: 10px;
	top: 230px;
	border: 1px solid #518AD8;
	border-radius: 5px;
	padding: 3px 6px;
	background: url(/Images/top/tool-bg.png) repeat-x;
	display: none;
	z-index: 1001;
}

.mapcontrol ul {
	margin: 0 0 0 16px;
	height: 28px;
}

.mapcontrol ul li {
	float: left;
	margin: 1px 3px;
	width: 26px;
	height: 26px;
}

.mapcontrol ul li a {
	width: 24px;
	height: 24px;
	display: block;
	text-align: center;
}

.mapcontrol ul li a:hover {
	border: 1px solid #eb4f38;
	border-radius: 3px;
}

.mapcontrol ul li a img {
	width: 22px;
	height: 22px;
	vertical-align: bottom;
}

.searchtool {
	height: 34px;
	margin: 10px 5px;
	position: relative;
}

.left-control {
	width: 255px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: transparent;
}

.left-control .left-content {
	width: 240px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-right: 1px solid #393D49;
	/*background-color: rgba(57,61,73,0.7);*/
	background-color: #393D49;
	z-index: 1500;
}

.left-control .left-tips {
	width: 15px;
	height: 120px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1px;
	margin: auto;
	z-index: 1501;
	cursor: pointer;
}

.left-control .left-tips span {
	display: block;
	width: 0;
	height: 0;
}

.left-control .left-tips span.triangle-top-left {
	border-bottom: 16px solid #393D49;
	border-right: 16px solid transparent;
}

.left-control .left-tips span.triangle-bottom-left {
	border-top: 16px solid #393D49;
	border-right: 16px solid transparent;
}

.left-control .left-tips span.triangle-top {
	border-bottom: 16px solid #393D49;
	border-left: 16px solid transparent;
}

.left-control .left-tips span.triangle-bottom {
	border-top: 16px solid #393D49;
	border-left: 16px solid transparent;
}

.left-control .left-tips i {
	width: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 38px 0;
	font-weight: 600;
	display: block;
	width: 15px;
	background-color: #393D49;
	border-right: 1px solid #393D49;
}

.left-control .ztree {
	height: 100%;
	height: -moz-calc(100% - 154px);
	height: -webkit-calc(100% - 154px);
	height: calc(100% - 154px);
	overflow-y: auto;
	overflow-x: hidden;
}

.poput-count {
	width: 300px;
	height: 608px;
	position: absolute;
	top: 85px;
	right: 0;
	z-index: 1000;
}

.poput-count .right-tips {
	width: 15px;
	height: 120px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 1501;
	cursor: pointer;
}

.poput-count .right-tips span {
	display: block;
	width: 0;
	height: 0;
}

.poput-count .right-tips span.triangle-top {
	border-bottom: 16px solid #393D49;
	border-left: 16px solid transparent;
}

.poput-count .right-tips span.triangle-bottom {
	border-top: 16px solid #393D49;
	border-left: 16px solid transparent;
}

.poput-count .right-tips i {
	width: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 38px 0;
	font-weight: 600;
	display: block;
	width: 15px;
	background-color: #393D49;
	border-right: 1px solid #393D49;
}

.poput-count .poput-info {
	width: 285px;
	/*height: 100%;*/
	float: right;
	margin: 0;
	padding: 5px;
	border: 1px solid #393D49;
	border-right: 0;
	background-color: rgba(57, 61, 73, 0.7);
}

@media only screen and (max-height: 768px) {
	.poput-count {
		top: 12px;
		height: 568px;
	}
	.poput-count .poput-info {
		border-top: 0;
		border-bottom: 0;
	}
}

.poput-tab {
	width: 100%;
	height: 25px;
	background-color: transparent;
	border-bottom: 1px solid #ccc;
}

.poput-tab li {
	width: 80px;
	height: 25px;
	text-align: center;
	background-color: RGBA(208, 227, 233, 0.5);
	border: 1px solid #ccc;
	border-bottom: 0;
	/*border-top-left-radius: 5px;
        border-top-right-radius: 5px;*/
	float: left;
	line-height: 24px;
	font-size: 12px;
	color: #393D49;
	text-align: center;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

.poput-tab li.selected {
	background-color: #fff;
}

.poput-content {
	width: 100%;
	/*height: 100%;
    height: -moz-calc(100% - 97px);
    height: -webkit-calc(100% - 97px);
    height: calc(100% - 97px);*/
	height: 572px;
	background-color: #fff;
	display: none;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 3px;
	overflow: hidden;
}

.poput-content .poput-content-title {
	width: 100%;
	height: 26px;
	float: left;
	background: -moz-linear-gradient(top, #71737B 0%, #393D49 49%, #393D49 51%, #71737B
		100%);
	background: -o-linear-gradient(top, #71737B 0%, #393D49 49%, #393D49 51%, #71737B
		100%);
	background: -webkit-gradient(linear, right top, right bottom, color-stop(0, #71737B),
		color-stop(0.49, #393D49), color-stop(0.51, #393D49),
		color-stop(1, #71737B));
	background: -webkit-linear-gradient(top, #71737B 0%, #393D49 49%, #393D49 51%,
		#71737B 100%);
}

.poput-content .poput-content-title span {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	font-weight: 400;
	padding: 0 0.8em;
	letter-spacing: 1px;
}

.poput-content .poput-content-title .poput-content-title-tab {
	width: 100%;
	height: 22px;
	float: left;
	padding: 0 2px;
	margin: 2px 0;
	box-sizing: border-box;
}

.poput-content .poput-content-title .poput-content-title-tab li {
	min-width: 55px;
	height: 22px;
	float: left;
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	font-weight: 400;
	padding: 0 0.4em;
	letter-spacing: 1px;
	cursor: pointer;
	border-right: 1px solid #fff;
	text-align: center;
	box-sizing: border-box;
}

.poput-content .poput-content-title .poput-content-title-tab li:last-child
	{
	border-right: 0;
}

.poput-content .poput-content-title .poput-content-title-tab li.selected
	{
	background-color: #fff;
	color: #393D49;
}

.poput-content .poput-content-content {
	width: 100%;
	min-height: 85px;
	padding: 10px 5px;
	float: left;
}

.poput-content .poput-content-content span {
	font-size: 12px;
	color: #0B333C;
	display: block;
	line-height: 26px;
}

.poput-content .poput-content-content .date-input {
	width: 155px;
	vertical-align: top;
}

.poput-content .poput-content-content .date-input input {
	width: 155px;
	padding: 3px 4px 3px 25px;
	min-height: 28px;
}

.poput-content .poput-content-content .date-input i {
	top: 8px;
	background: url(/Images/skin_icons.png) no-repeat -308px -28px;
}

.poput-content .btn {
	height: 26px;
	line-height: 26px;
	vertical-align: bottom;
	padding: 0 15px;
}

@media only screen and (max-height: 768px) {
	.poput-content {
		height: 532px;
	}
}

.dinfo {
	width: 100%;
	float: left;
}

.dinfo .leftimg {
	width: 70px;
	height: 70px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid #c9c9c9;
	margin: 5px 0 0 0;
	text-align: center;
}

.dinfo .leftimg img {
	height: 100%;
	vertical-align: middle;
}

.dinfo .dul {
	float: left;
	padding: 5px 10px 0 10px;
	width: 156px;
}

.dinfo .dul li {
	font-size: 12px;
	line-height: 24px;
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.dinfo p {
	width: 100%;
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	padding-left: 0.8rem;
}

.pop-set {
	width: 100%;
	background-color: #fff;
	display: none;
}

.somechecks {
	width: 100%;
	margin: 0;
	padding: 0;
}

.somechecks li {
	float: left;
	line-height: 30px;
	margin: 0 0.5em;
}

.somechecks li img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.somechecks li label {
	font-size: 12px;
	font-weight: 400;
}

.main-left {
	top: 70px;
	z-index: 1500;
	display: none;
}

.main-container {
	top: 70px;
	z-index: 1500;
	display: none;
}

.poputtable {
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.poputtable tr {
	border-bottom: 1px solid #ccc;
}

.poputtable th {
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	color: #0B333C;
	border-right: 1px solid #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF',
		endColorstr='#E9E9E9');
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#E9E9E9));
	background: -moz-linear-gradient(top, #FFF, #E9E9E9);
}

.poputtable td {
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	border-right: 1px solid #ccc;
	color: #0B333C;
	padding: 7px 0;
}

.poputtable tr:nth-child(odd) {
	background-color: #F7F7F7;
}

.poputtable tr:nth-child(even) {
	background-color: #FFF;
}

.poputtable tr:hover {
	background-color: #B2E1FF !important;
}

.dirvetype {
	padding-left: 10px;
}

.dirvetype .iradio_square-blue {
	margin: 0 0 0 5px;
}

.dirvetype span {
	font-size: 13px !important;
	display: inline-block !important;
	min-width: 110px;
}

.pou-tj {
	height: 150px;
	padding: 0 !important;
}

.pou-tj .c_clay {
	width: 266px;
	height: 150px;
	/*display: block;*/
}

.pou-tj iframe {
	width: 266px;
	height: 150px;
}

/************** Map **********/
.olControlMousePosition {
	width: 135px;
	height: 24px;
	line-height: 24px;
	right: 3px;
	bottom: 3px !important;
	padding: 0 4px;
	color: #000;
	font-size: 12px !important;
	border-radius: 5px;
	font-weight: 400;
	text-align: center;
}

.olControlScaleLine {
	z-index: 1006;
}

/************** ZTree **********/
.ztree li a.curSelectedNode {
	background-color: rgba(151, 210, 242, 0.7) !important;
	color: #fff !important;
	border: 1px #FFF solid !important;
}

.typetool {
	height: 34px;
	margin: 10px 5px;
}

.typetool .layui-btn {
	padding: 0 9.9px;
	height: 32px;
	line-height: 30px;
	font-size: 12px;
}

.typetool .layui-btn.active {
	background-color: #5FB878;
	color: #fff;
	border-color: #5FB878;
}

.typetool .single-select .select-tit {
	width: 174px;
}

.typetool .single-select .select-items {
	width: 225px !important;
	z-index: 100 !important;
}