<!DOCTYPE html>
<html  class="layerpage">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>党风廉政-投诉举报</title>
		<!-- 第三方 CSS -->
		<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/bootstrap/css/bootstrap.min.4.0.css"/>
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/bootstrapValidator/bootstrapValidator.min.css">
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/vendor/webuploader/webuploader.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/style.css" />
	</head>
	<body>
		<div class="container">
			<!-- <div class="article-header text-center">
				<h2>${complainEntity.title ! ''}</h2>
				<p>
					<span>发布日期：${complainEntity.fmtCreate_time ! ''}</span>
					<span>文章类型：投诉举报</span>
					<span>发布人：${complainEntity.user_name ! ''}</span>
				</p>
			</div> -->
			<div class="article-body">
				<div class="col col-12">
					<div class="page-title">投诉详情</div>
					<div class="page-body">
						<table class="table table-lg table-striped table-event">
							<tr>
								<th>标题</th>
								<td>${complainEntity.title ! ''}</td>
							</tr>
							<tr>
								<th>举报人</th>
								<td>
									@if(complainEntity.is_nm=='1'){
										匿名
									@}else{
										${complainEntity.user_name ! ''}
									@}
								</td>
							</tr>
							<tr>
								<th>举报日期</th>
								<td>${complainEntity.fmtCreate_time ! ''}</td>
							</tr>
							<tr>
								<th>投诉类型</th>
								<td>${sysParam.name ! ''}</td>
							</tr>
							<tr>
								<th>投诉子类</th>
								<td>${sysParamDesc.itemName ! ''}</td>
							</tr>
							<tr>
								<th>内容</th>
								<td>${complainEntity.content ! ''}</td>
							</tr>
							<!-- <tr>
								<th>上报位置</th>
								<td>某某省某某市某某区 虚拟街道100号 院内 2号楼 1单元101室</td>
							</tr> -->
							@if(isNotEmpty(complainEntity.compAcceList)){
							<tr>
								<th>附件列表</th>
								<td>
									<div class="form-arraylist">
										@for(attr in complainEntity.compAcceList  ! []){
											@if(attr.file_type  == 'img'){
												<li class="col-9">
													<a href="javascript:showBigPic('${ctxPath}/showPic?fileName=${attr.new_fileName !}')"  title="${attr.old_fileName !}" ><img src="${ctxPath}/showPic?fileName=${attr.new_fileName !}"/> ${attr.old_fileName !}</a>
													<span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}else if(attr.file_type  == 'pdf'){
												<li class="col-9">
													<a href="javascript:void(0)"  onclick="goPdf('${ctxPath}/pub/goPdf.do?url=${attr.new_fileName}')" title="${attr.old_fileName !}" ><img src="${ctxPath}/assets/images/default-file.png"/> ${attr.old_fileName !}</a>
												    <span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}else if(attr.file_type == 'txt'){
												<li  class="col-9">
													<a href="javascript:void(0)" title="${attr.old_fileName}"> <img src="${ctxPath}/assets/images/icon_xt5nm097d1ymygb9/txt.svg"/>${attr.old_fileName}</a>
													 <span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}else if(attr.file_type == 'exl'){
												<li  class="col-9">
													<a href="javascript:void(0)" title="${attr.old_fileName}"> <img src="${ctxPath}/assets/images/icon_xt5nm097d1ymygb9/excel.svg"/>${attr.old_fileName}</a>
													 <span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}else if(attr.file_type == 'video'){
												<li  class="col-9">
													<a href="javascript:void(0)" title="${attr.old_fileName}"> <img src="${ctxPath}/assets/images/icon_xt5nm097d1ymygb9/video.svg"/>${attr.old_fileName}</a>
													 <span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}else{
												<li class="col-9">
													<a href="javascript:void(0)"   title="${attr.old_fileName !}" ><img src="${ctxPath}/assets/images/default-file.png"/> ${attr.old_fileName !}</a>
												    <span title="下载" class="download" onclick="download('${attr.new_fileName !}', '${attr.old_fileName !}')"></span>
												</li>
												@}
											@}
									</div>
								</td>
							</tr>
							@}
						</table>
					</div>
				</div>	
						
				
				@if(isNotEmpty(complainHandleEntity)){
					<div class="page-title">处理结果</div>
					<div class="page-body">
						<div class="timesline">
							<li>
								<dt>${complainHandleEntity.fmtHandle_date ! ''}</dt>
								<b style="margin-left: 30px">【处理结果：】</b>${complainHandleEntity.content ! ''}
							</li>
							
						</div>
					</div>
			@}
				
			</div>
			<div class="page-operation text-right">
				@if(complainEntity.sh_status=='0'){
					<button type="button" class="btn btn-primary" onclick="goAudit('${complainEntity.id !}','1')"><i class="fa fa-check"></i> 通 过</button>
					<button type="button" class="btn btn-outline-primary" onclick="goAudit('${complainEntity.id !}','2')"><i class="fa fa-close"></i> 不通过</button>
				@}else if(complainEntity.sh_status=='1'){
					<button type="button" class="btn btn-outline-primary" onclick="goAudit('${complainEntity.id !}','2')"><i class="fa fa-close"></i> 不通过</button>
				@}else if(complainEntity.sh_status=='2'){
					<button type="button" class="btn btn-primary" onclick="goAudit('${complainEntity.id !}','1')"><i class="fa fa-check"></i> 通 过</button>
				@}
				
			</div>
		</div>
		
		<input type="hidden" id="basePath" value="${ctxPath}" />
		<script src="${ctxPath}/assets/vendor/jquery/jquery.min.js"></script>
		<script src="${ctxPath}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/assets/vendor/holder.min.js" ></script>
		<script type="text/javascript" src="${ctxPath}/assets/vendor/popper.min.js" ></script>
		<script src="${ctxPath}/assets/vendor/layer/layer.js"></script>
		<script src="${ctxPath}/assets/scripts/public.js"></script>
		<script src="${ctxPath}/assets/scripts/dflz/tsjb/viewAudit.js"></script>
	</body>
</html>