<!DOCTYPE html>
<html class="main">
<head>
	<title>居民信息-首页</title>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="${ctxPath}/assets/css/main.css" />
	<style type="text/css">
    .accCode{
      white-space: nowrap;  
      text-overflow: ellipsis; 
      overflow: hidden; 
    }
    .name{
      width: 180px; 
      white-space: nowrap;  
      text-overflow: ellipsis; 
      overflow: hidden; 
    }
   </style>
</head>

<body>
	<div class="function-box">
		 	<div class="query-criteria">
				<form class="form-inline" action="" method="post">
					<div class="form-group">
						<select id="commId" class="form-control" onchange="showSs(this,'ssId')">
				    		<option value="">--所属社区 --</option>
							@for(com in comList){
							<option value="${com.id}">${com.name}</option>
							@}
						</select>
					</div>
					<div class="form-group">
						<select id="ssId" class="form-control" onchange="showData(this,'gridId','xqId')">
				    		<option value="">--所属服务站--</option>
						</select>
					</div>
					<div class="form-group">
						<select id="gridId" class="form-control">
				    		<option value="">--所属网格--</option>
						</select>
					</div>
					<div class="form-group">
						<select id="xqId" class="form-control">
				    		<option value="">--所属小区--</option>
						</select>
					</div>
					<div class="form-group">
						<select id="category" class="form-control">
				    		<option value="">--特殊人口--</option>
				    		@for(type in typeList){
							<option value="${type.value1}">${type.itemName}</option>
							@}
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="name" placeholder="名称/身份证">
					</div>
					<button type="button" class="btn btn-primary" onclick="initData(1)"><i class="fa fa-search"></i> 查询</button>
				</form>
			</div>
			<div class="function-btn">
				<#roleBtn btnId="jmxxAdd" roleCode="${roleCode}">
					<button type="button" class="btn btn-light" href="javascript:void(0);" onclick="goAdd('添加界面')"><i class="fa fa-plus"></i> 添加</button>
				</#roleBtn>
				<#roleBtn btnId="jmxxEdit" roleCode="${roleCode}">
					<button type="button" class="btn btn-light" href="javascript:void(0);" onclick="goUpdate('修改界面')"><i class="fa fa-pencil"></i> 修改</button>
				</#roleBtn>
				<#roleBtn btnId="jmxxDel" roleCode="${roleCode}">
					<button type="button" class="btn btn-light" href="javascript:void(0);" onclick="goDel()"><i class="fa fa-trash"></i> 删除</button>
				</#roleBtn>
				<#roleBtn btnId="jmxxImpFile" roleCode="${roleCode}">
				<button type="button" class="btn btn-light" href="javascript:void(0);" onclick="goImpFile()"><i class="fa fa-sign-in"></i> 导入</button>
				</#roleBtn>
				<#roleBtn btnId="jmxxExport" roleCode="${roleCode}">
				<button type="button" class="btn btn-light" href="javascript:void(0);" onclick="goExport()"><i class="fa fa-sign-out"></i> 导出</button>
				</#roleBtn>
			</div>
		</div>
		<div id="table-container" class="warpper">
			@#ajax table:{
			<div class="table-box">
					<table class="table table-bordered table-striped" cellspacing="" cellpadding="">
						<thead>
						<tr class="table-secondary">
							<th width="5%" class="text-center">
								<input type="checkbox" class="i-checks" id="checkAll" onclick="selectAll(this)"/>
					        </th>
					        <th>姓名</th>
							<th width="17%">身份证号</th>
					        <th width="60px">性别</th>
					        <th>出生日期</th>
					        <th>联系电话</th>
					        <th width="70px">民族</th>
					        <th>所属社区</th>
					        <th>所属网格</th>
					        <th>房屋</th>
					        <th>操作</th>
						</tr>
						</thead>
						<tbody id="dqIds">
						@for(person in pagenate.list ! []){
						<tr>
							<td class="text-center">
					        	<input type="checkbox" class="i-checks" name="icheck" value="${person.id}" />
					        </td>
					        <td class="text-center text-overflow" title="${person.name}"><a href="javascript:void(0);" onclick="goView('${person.id}')" id="View"><div class="accCode">${person.name ! ''}</div></a></td>
					        <td class="text-left text-overflow" title="${person.card_no}"><div class="accCode">${person.card_no ! ''}</div></td>
					        <td class="text-center text-overflow">
					        @if(person.sex == ''){
					        @}else{
					         ${person.sex == 'E'?'男':'女'}
					        @}
					        </td>
					        <td class="text-left text-overflow">${person.birthdayFrm ! ''}</td>
					        <td class="text-left text-overflow" title="${person.telephone}">${person.telephone ! ''}</td>
					        <td class="text-left text-overflow">
								${sysStations[person.nation]}
							</td>
					        <td class="text-left text-overflow" title="${person.build.village.serviceStation.community.name}"><div class="accCode">${person.build.village.serviceStation.community.name ! ''}</div></td>
					        <td class="text-left text-overflow" title="${person.build.grid.name !''}"><div class="accCode">${person.build.grid.name !''}</div></td>
					        <td class="text-left text-overflow" title="${person.build.name}#${person.unit_no}单元${person.room_no}"><div class="accCode">${person.build.name}#${person.unit_no}单元${person.room_no}</div></td>
					        <td class="text-left text-overflow">
					        <a href="javascript:void(0);" onclick="goUpdateDq('${person.id}')"> 修改</a> 
					        <a href="javascript:void(0);" onclick="goDelDq('${person.id}')"> 删除</a>
					        </td>
						</tr>
						@}elsefor{
						<tr>
					        <td colspan="11" class="text-center">
					        	没有找到要查询的数据
					        </td>
				    	</tr>
						@}
						</tbody>
					</table>
				</div>
				<!-- 自定义分页标签 -->
				<#pagenate func="initData" page="${pagenate}" />
				@}
		</div>
	<input type="hidden" id="basePath" value="${ctxPath}" />

	<!-- END MAIN CONTENT -->
	<script src="${ctxPath}/assets/vendor/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="${ctxPath}/assets/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="${ctxPath}/assets/vendor/holder.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="${ctxPath}/assets/vendor/layer/layer.js"></script>
	<script src="${ctxPath}/assets/scripts/shgl/jmxx/index.js"></script>
	<script src="${ctxPath}/assets/scripts/public.js"></script>
</body>
</html>
