.skin-0 {
	background: url(../images/skin/backgound-0.jpg) top center no-repeat;
	background-size: cover;
}

.skin-1 {
	background: url(../images/skin/backgound-1.jpg) top center no-repeat;
	background-size: cover;
}

.skin-2 {
	background: url(../images/skin/backgound-2.jpg) top center no-repeat;
	background-size: cover;
}

.skin-3 {
	background: url(../images/skin/backgound-3.jpg) top center no-repeat;
	background-size: cover;
}

.skin-4 {
	background: url(../images/skin/backgound-4.jpg) top center no-repeat;
	background-size: cover;
}

.skin-5 {
	background: url(../images/skin/backgound-5.jpg) top center no-repeat;
	background-size: cover;
}

.skin-6 {
	background: url(../images/skin/backgound-6.jpg) top center no-repeat;
	background-size: cover;
}